
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  background-color: ghostwhite
}


h1 {
  margin-left: 5px;
}

h2 {
  padding-left: 20px;
}

h3 {
    
}
h4 {
    margin-left: 20px;
    margin-bottom: 3px;
    margin-top: 2px;
}

p {
  margin: 0;
  margin-left: 50px;
}
.contenedor{
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
}
.foto_inicio{
   flex-shrink: 0;
   margin-left: 5px;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.foto_inicio:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.title{
  color:red;
  font-size:1.8em;
  padding-left: 187px;
}
.animacion {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 2s;
  height: 40%;
  width: 40%;
}

@keyframes slidein {
  from {
    margin-left:0%;
    width:25%;
  }
  to {
   margin-left:0%;
   width:40%;
 }
}

a{
  text-decoration: none;
  list-style-type: none;
  color: white;
  margin-right: 40px;
  font-size: 1.2em;
  transition: color 2s;
}
.link{
  list-style-type: none;
  font-size: 1.8em;
  float: left;
  margin-left: 30px;
  
}
a:hover{
  color: red;
  

}
.ancla-footer{
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 1.2em;
  transition: color 2s;
}
.ancla-footer:hover{
  color: red;
}
.fuerza{
  font-size: 3em;
  color: red;
  line-height: 2em;
  word-spacing: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
}

/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background: black;

}
#presentacion{
  display: flex;
  justify-content: space-between
}
#planeta{
  height: 100%;
}
#portada{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item{
  align-self: auto;
  padding-top:24px;
}

#site-footer {
  color: white;
  justify-content: space-around;
  align-items: center;
  background: black;
  display: flex;
}
.title-footer{
  font-size: 2em;
  font-family: -webkit-pictograph;
  color: white;
  font-style: bold;
  font-weight: bold;
  margin-left: 25px;
  transition: color 2s;
}
.title-footer:hover{
  color:red
}

#site-main {
  margin-bottom: 60px;
}
.tecnic{
  border: 2px ridge red;
  padding: 4px 8px;
  margin-top: 10px;
  width: 100%;

}

.container {
  margin: 0 20px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1.5fr 1.5fr;
  grid-column-gap: 7%;
  grid-row-gap: 80px;
  justify-content: center;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
  padding: 30px;
  
}
.elementos{
  text-decoration: underline;
  font-size: 1.5em;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

img{
width: 100%;
}
.dark-baider{
  width: 100%;
  height: 100%;
}
.logo{
  width: 150px;
  height:100px;
  margin-top: -10px;
  transform: rotate(-25deg);
}




/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  overflow: hidden;
  position: relative;
  height: 400px;
  width: 100%;
}
#card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  overflow: hidden;
  position: relative;
  height: auto;
  width: 70%;
  margin-bottom: 50px;
}
.image-card {
    position: absolute;
    height: 100%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
#card3 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  overflow: hidden;
  position: relative;
  height: auto;
  width: 40%;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cont {
  padding: 4px 8px;
}